html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    margin: 0;
    padding: 0;
}

header {
    background-color: green;
    will-change: transform;

    & .logo-container {
        width: 100%;
        will-change: transform;
        transform-origin: left top;

        & a {
            text-decoration: none;
            color: white;
            padding: 10px;
            display:  inline-block;

            & .logo {
                height: 65px;
                width: 200px;
                border: 1px dotted black;

                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    & .header-line-two {
        width: 100%;
        height: 65px;
        will-change: transform;
        background-color: rgba(0,0,0,0.1);
        background-clip: content-box;
        border: 1px dotted rgba(0,0,0,0.3);
        padding: 10px;

        display: flex;
        align-items: center;
        // justify-content: center;
    }


    & span {
        will-change: transform;
    }

    &.fixed {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;

        & ~ main {
            margin-top: 150px;
        }
    }
}

main {
    min-height: 3500px;
    background:
        linear-gradient(135deg, #708090 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
        linear-gradient(225deg, #708090 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
    background-color:#708090;
    background-size: 64px 128px;

    padding-top: 20px;
    text-align: center;
}

footer {
    height: 200px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
